<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hce.ducati.mapper.UserMapper" >
	<resultMap id="userResultMap" type="com.quincy.auth.o.User">
		<result column="id" property="id" jdbcType="INTEGER" />
		<result column="jsessionid" property="jsessionid" jdbcType="VARCHAR" />
	</resultMap>
	<update id="updateLastLogined">
		UPDATE s_user 
		<set>
			jsessionid = #{jsessionid, jdbcType=VARCHAR},
			last_logined = NOW()
		</set>
		WHERE id=#{id, jdbcType=INTEGER}
	</update>
</mapper>
