<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hce.ducati.mapper.RegionMapper" >
	<resultMap id="regionResultMap" type="com.quincy.sdk.entity.Region">
		<result column="en_name" property="enName" jdbcType="VARCHAR" />
		<result column="cn_name" property="cnName" jdbcType="VARCHAR" />
	</resultMap>
	<select id="find" resultMap="regionResultMap">
		SELECT en_name,cn_name FROM b_regi${suffix}
	</select>
	<select id="find2" resultMap="regionResultMap">
		SELECT en_name,cn_name FROM b_region WHERE sort BETWEEN 1 AND 10
	</select>
	<select id="find3" resultMap="regionResultMap">
		SELECT en_name,cn_name FROM b_region WHERE id=#{id, jdbcType=INTEGER}
	</select>
	<update id="update">
		UPDATE b_region 
		<set>
			cn_name = #{cnName, jdbcType=VARCHAR}
		</set>
		WHERE id=#{id, jdbcType=INTEGER}
	</update>
	<update id="update2">
		UPDATE b_region 
		<set>
			cn_name = #{cnName, jdbcType=VARCHAR}
		</set>
		WHERE en_name LIKE CONCAT('%', #{enName, jdbcType=VARCHAR}, '%')
	</update>
	<update id="update3">
		UPDATE b_region 
		<set>
			cn_name = CONCAT(cn_name, 'xxx')
		</set>
		WHERE sort BETWEEN 1 AND 10
	</update>
	<update id="update4">
		UPDATE b_region 
		<set>
			cn_name = CONCAT(cn_name, 'www') 
		</set>
		WHERE en_name LIKE CONCAT('%', #{enName, jdbcType=VARCHAR}, '%')
	</update>
</mapper>
